apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - cloudflare-api-token.secret.sops.yaml
  - issuers/letsencrypt-cloudflare.yaml
#  - certificates/local.yaml
#  - certificates/public.yaml
