apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: public-nishantlabs-cloud
#  namespace: traefik
  namespace: istio-system
spec:
  secretName: public-nishantlabs-cloud-tls
  dnsNames:
    - 'nishantlabs.cloud'
    - '*.nishantlabs.cloud'
  issuerRef:
    name: cloudflare-clusterissue
    kind: ClusterIssuer
