apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
#  - ../../../base/minimaldo
  - ../../../base/secrets/image-pull.secret.sops.yaml
  - ../../../base/secrets/database-backup-to-gcs.secret.sops.yaml
  - namespace.yaml
#  - httproute.yaml
  - ingress.yaml
  - pg-cluster.yaml
  - pg-cluster-backup.yaml

namespace: minimaldo

#patches:
#  - path: frontend.yaml
#  - path: backend.yaml
