apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
spec:
  interval: 30m
  releaseName: traefik

  chart:
    spec:
      chart: traefik
      version: '36.0.*'
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: traefik
      interval: 5m

  values:
    providers:
      kubernetesIngress:
        enabled: true
      kubernetesGateway:
        enabled: true

    ## Ingress
    ingressClass:
      enabled: true
      isDefaultClass: true
    ports:
      websecure: 
        port: 8443
        protocol: TCP
        tls:
          enabled: true
          certificateRefs:
            - name: public-nishantlabs-cloud-tls
#            - name: local-nishantlabs-cloud-tls

    ## Gateway
    gateway:
      enabled: true
      listeners:
        websecure:
          port: 8443
          hostname: ""
          protocol: HTTPS
          namespacePolicy: All
          certificateRefs:
            - name: public-nishantlabs-cloud-tls
#            - name: local-nishantlabs-cloud-tls

    metrics:
      prometheus:
        service:
          enabled: true
        serviceMonitor:
          enabled: true
          additionalLabels:
            release: kube-prometheus-stack
