apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
spec:
  interval: 30m
  releaseName: traefik

  chart:
    spec:
      chart: traefik
      version: '36.0.*'
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: traefik
      interval: 5m

  values:
    service:
      loadBalancerSourceRanges:
        - 192.168.1.241/32
    ingressClass:
      enabled: false
    gateway:
      enabled: true
      listeners:
        websecure:
          port: 8443
          hostname: ""
          protocol: HTTPS
          namespacePolicy: All
          certificateRefs:
            - name: local-nishantlabs-cloud-tls
            #- name: public-nishantlabs-cloud-tls
    providers:
      kubernetesIngress:
        enabled: false
      kubernetesGateway:
        enabled: true
    metrics:
      prometheus:
        service:
          enabled: true
        serviceMonitor:
          enabled: true
          additionalLabels:
            release: kube-prometheus-stack
